@model IEnumerable<First_Project.Models.Subscription>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table-responsive  pt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscriptiondate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymentstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subscriptiondate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Userid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Subscriptionid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Subscriptionid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Subscriptionid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
